<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

        <div>
            <h1 id = page-heading>
                Contact List
            </h1>
            <ul id="list">
                   
                <% for (let i of contact_list) { %> 
                    <div class="contact">

                   
                    
                    <li id="list-all">
                        <p id="name"><%= i.name %></p>
                        <p id="phone"><%= i.phone %></p>
                    </li>
                </div>
                <div class="delete-button">
                    <a href="/delete-contact/?phone=<%= i._id%>">
                        delete
                    </a>
                </div>
                <% } %>
            </ul>
        </div>
        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter Name" id="name-input">
            <input type="number" name="phone" placeholder="Enter Phone" id="phone-input">
            <button type="submit">Add </button>
        </form>
<script type ="text/javascript" src="/js/home.js"></script>
    </body>
</html>